<h1 id="title"><%= @route.verb + " " + @route.path %></h1>
<p><pre class="route-url"><%= File.join(request.protocol, request.host_with_port, @route.path) %></pre></p>
<%= @route.description %>
<div class="markdown"><%= @route.content %></div>
<%= button_to  "Update", edit_route_path(generate_name(@route.verb, @route.path)), :method => :get %>
<% if @route.updated_at %>
<h4>This document has been updated at: <%= Time.at(@route.updated_at).strftime('%H:%M:%S, %A %d, %B') %></h4>
<% end %>
